/* General settings */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Mono", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}

h1:first-child {
  margin-top: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}

h2:first-child {
  margin-top: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3:first-child {
  margin-top: 0;
}

h1, h2, h3 {
  line-height: 1.2;
  position: relative;
}

p {
  font-size: 1em;
  margin-bottom: 15px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #3273dc;
  font-weight: bold;
}

em {
  font-style: italic;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sup::before {
  content: "[";
}
sup::after {
  content: "]";
}

sub {
  bottom: -0.25em;
}

/* Specifics */

header {
  background-color: #282828;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 auto;
  height: 120px;
  min-height: 120px;
  max-height: 120px;
}

navbar {
  display: flex;
  justify-content: space-between;
}

.home {
  margin-left: -15px;
}

navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

navbar > ul li {
  margin-right: 30px;
  font-size: 24px;
  font-weight: 700;
}

navbar > ul li:last-child {
  margin-right: 0;
}

.nav-item, .nav-item:visited {
  text-decoration: none;
  color: white;
}

.underline {
  text-decoration: underline;
}

.logo-container {
  display: block;
}

.logo {
  height: 75px;
  width: 75px;
}

main {
  padding-top: 30px;
  padding-bottom: 30px;
  flex: 1 0 auto;
}

.text {
  width: 768px;
}

footer {
  background-color: #282828;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  clear: both;
  position: relative;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  flex-shrink: 0;
}

.footer-link {
  color: white;
}

.generator {
  float: right;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.anchor, .anchor:visited {
  margin-right: 20px;
  color: lightgray;
  text-decoration: none;
  transition: color 0.2s;
  position: absolute;
  right: 100%;
  top: 20%;
}

.anchor:hover {
  color: gray;
}

.icon {
  color: #282828;
}

.icon:hover {
  color: #404040;
}

.discord {
  position: relative;
  top: 3px;
}

.soc-media {
  display: flex;
  flex-direction: row;
}

.media {
  text-decoration: none;
  margin-right: 10px;
}

.media:last-child {
  margin-right: 0;
}

.post {
  margin-bottom: 40px;
  width: 75%;
}

.post-title {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

.post-title:visited {
  color: purple;
}

.post-date {
  margin-bottom: 10px;
  color: #555555;
  font-size: 13px;
}

.post-description {
  margin-bottom: 0;
  margin-top: 10px;
}

.post-detail-title {
  margin-top: 15px;
  margin-bottom: 30px;
}

.post-detail-dates {
  color: #666666;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .text {
    width: 100%;
  }

  .post {
    width: 100%;
  }

  .greeting {
    font-size: 30px;
  }

  .post-detail-dates-separator {
    display: none;
  }

  .post-detail-dates {
    display: flex;
    flex-direction: column;
  }
  .post-detail-dates > span:first-child {
    margin-bottom: 5px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: calc(800px + 2 * 30px)) {
  .content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: calc(800px + 2 * 50px)) {
  .anchor.fas {
    display: none;
  }
}

figure {
  text-align: center;
}

figure img {
  width: 50%;
  min-width: 250px;
}

figcaption {
  margin-top: 25px;
}

ol {
  list-style: auto;
  list-style-position: inside;
}

ul li, ol li {
  margin-bottom: 10px;
}

.footnotes hr {
  margin: 20px 0 10px 0;
}

.footnote-back {
  margin-left: 10px;
}
